body {
    background-image: URL("https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
}

h1 {
    color: white;
    position: relative;
    text-align: center;
}

label {
    color: white;
    display: block;
    position: relative;
    text-align: center;
}

#result {
    position: relative;
    text-align: center;
}

.center {
    display: inline-block;
}

div {
    color: white;
    font: monoscript;
    font-size: 30px;
}

.libra {
    height: 400px;
    width: 350px;
}

.div {
    text-align: center;
}
